
			<div class='methode__story methode__story--0'>
				<p class='methode-graf'>1970s</p>
<p class='methode-graf'>Aerosmith, “ I Don’t Want to Miss a Thing”</p>
<p class='methode-graf'>Willie Alexander and the Boom Boom Band, “Kerouac”</p>

<p class='methode-graf'>Boston, “More than a Feeling” </p>
<p class='methode-graf'>The Cars, “My Best Friend’s Girl”</p>

<p class='methode-graf'>J. Geils Blues Band, “Whammer Jammer”</p>
<p class='methode-graf'>The Lyres, “Don’t Give It Up Now”</p>
<p class='methode-graf'>The Modern Lovers “Roadrunner”</p>

<p class='methode-graf'>The Neighborhoods, “Prettiest Girl,”</p>
<p class='methode-graf'>Real Kids, “All Kindsa Girls”</p>
<p class='methode-graf'>Robin Lane and the Chartbusters, “When Things Go Wrong “</p>
<p class='methode-graf'>Mission of Burma, “Peking Spring”</p>
<p class='methode-graf'>1980s</p>
<p class='methode-graf'>’Til Tuesday, “Voices Carry” </p>
<p class='methode-graf'>The Del Fuegos, “Don’t Run Wild”</p>
<p class='methode-graf'>Scruffy the Cat, “My Baby She’s Alright”</p>
<p class='methode-graf'>Treat Her Right, “I Think She Likes Me”</p>
<p class='methode-graf'>Barrence Whitfield, “Girl From Outer Space”</p>
<p class='methode-graf'>The Neats, “Another Broken Dream”</p>
<p class='methode-graf'>Throwing Muses, “Sinkhole” </p>
<p class='methode-graf'>Pixies, “Where is My Mind?”</p>
<p class='methode-graf'>New Kids on the Block, “I’ll Be Loving You (Forever)”</p>
<p class='methode-graf'>J. Geils Band, “Freeze Frame” </p>
<p class='methode-graf'>The Cars, “Shake It Up”</p>
<p class='methode-graf'>Aerosmith/Run DMC, “Walk This Way”</p>
<p class='methode-graf'>Almighty RSO, “The Greatest Show on Earth”</p>
<p class='methode-graf'>Bobby Brown, “My Prerogative”</p>
<p class='methode-graf'>1990s</p>
<p class='methode-graf'>Aerosmith, “I Don’t Want to Miss a Thing”</p>
<p class='methode-graf'>Belly, “Feed the Tree”</p>
<p class='methode-graf'>Bell Biv DeVoe, “Poison”</p>
<p class='methode-graf'>Bim Skala Bim, “Wise Up”</p>
<p class='methode-graf'>Tracy Bonham, “Mother Mother”</p>
<p class='methode-graf'>The Breeders, “Cannonball Surfing”</p>
<p class='methode-graf'>Buffalo Tom, “Taillights Fade”</p>
<p class='methode-graf'>The Cavedogs, “Leave Me Alone”</p>
<p class='methode-graf'>Extreme, “More than Words”</p>
<p class='methode-graf'>Gang Starr, “Take It Personal”</p>
<p class='methode-graf'>Gigolo Aunts, “Where I Find My Heaven”</p>
<p class='methode-graf'>Juliana Hatfield Three, “Spin the Bottle”</p>
<p class='methode-graf'>The Lemonheads, “Into Your Arms”</p>
<p class='methode-graf'>Letters to Cleo, “Here and Now”</p>
<p class='methode-graf'>The Mighty Mighty Bosstones, “The Impression that I Get”</p>
<p class='methode-graf'>Morphine, “Cure for Pain”</p>
<p class='methode-graf'>New Kids on the Block, “Step by Step”</p>
<p class='methode-graf'>Jen Trynin, “Better than Nothing”</p>
			</div>
		